.mt-0-25 {
  margin-top: 0.25rem;
}
.mt-0-5 {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-1-5 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}

.ml-0-25{
  margin-left:0.25rem;
}
.ml-1 {
  margin-left: 1rem;
}

.fs-1{
  font-size:1rem;
}
.fs-1-25{
  font-size:1.25rem;
}
.fs-1-5{
  font-size:1.5rem;
}
.fs-1-75{
  font-size:1.75rem;
}
.fs-2{
  font-size:2rem;
}
.fs-3{
  font-size:3rem;
}
.none {
  display: none !important;
}

.noselect {
  user-select: none;
}

.okselect {
  user-select: text;
}
.c-pointer {
  cursor: pointer;
}

.hvr-highlight:hover {
  border: 1px solid var(--colhover);
  border-radius: 7px;
}

.hvr-underline:hover {
  text-decoration: underline;
}

.align-l *{
  text-align:left;
}