#about-ctn * {
  font-family: var(--f-smooch);
}
#about-ctn {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* #about-ctn::after{
    content: "";
    background-image: url(/static/img/bg2.png);
    background-size: 100% 100%;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    filter: blur(8px);
} */

#about-ctn h1 {
  font-weight: 400;
  color: var(--col1);
  font-size: var(--fs7);
}

#about-ctn #content-ctn {
  /* background-color: red; */
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content-ctn h1,
#content-ctn p {
  width: 80%;
}
#content-ctn p {
  font-weight: 200;
  font-size: var(--fs3);
}
#model-ctn {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#model-ctn #vtuber-info {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid var(--col1);
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 1rem;
  top: 0;
  height: 100%;
  display: none;
}
#vtuber-info {
  animation: entrance 400ms 0ms linear backwards 1;
}
#vtuber-info-grid {
  display: grid;
  grid-template-columns: 40% 1fr;
  margin-bottom: 1rem;
  font-size: var(--fs2);
  justify-content: center;
  max-height: 40%;
}
#vtuber-info-grid #modelfrontback {
  margin: 1rem;
  max-height: 55%;
}
#vtuber-info-grid #modelfrontback img {
  height: 100%;
}
#vtuber-info .title {
  color: var(--col1);
  text-align: right;
  padding-right: 1rem;
}
#model-ctn img {
  max-height: 500px;
  -webkit-filter: drop-shadow(-11px -3px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(-11px -3px 4px rgba(0, 0, 0, 0.25));
}
#model-ctn #credits {
  margin-top: 5px;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
#model-ctn #credits p {
  color: rgba(255, 255, 255, 0.5);
}

#followers-ctn {
  /* background-color: rgba(255, 0, 0, 0.05); */
  width: 100%;
}
#followers-ctn #followers-widget-ctn {
  min-height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
}
#followers-ctn #followers-widget-ctn .widget {
  margin: 0.5rem;
  min-width: 70px;
}
#followers-ctn #followers-widget-ctn #widget-average {
  position: absolute;
  bottom: 0;
  width:200px;
}
#followers-widget-ctn .widget {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
#followers-widget-ctn #widget-average {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(224, 225, 226, 0.5);
  padding: 2rem 5rem 1rem 5rem;
  color: var(--col5);
}
#widget-average .count {
  color: var(--col5);
  font-size: var(--fs5) !important;
}
#widget-average span{
    min-width:200px;
    color: var(--col5);
}
#followers-widget-ctn .widget {
  max-width: 70px;
}

#followers-widget-ctn .widget .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
}
#followers-widget-ctn .widget .count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#followers-widget-ctn .widget:hover:not(#widget-average) span {
  transform: scale(1.05);
}

#followers-widget-ctn .widget .icon img {
  max-width: 70%;
}
#widget-twitter .icon,
#widget-twitter .count {
  background-color: #1da1f2;
}
#widget-twitch .icon,
#widget-twitch .count {
  background-color: #9146ff;
}
#widget-youtube .icon,
#widget-youtube .count {
  background-color: #ff0000;
}
#followers-widget-ctn .widget .count {
  font-size: var(--fs4);
  text-align: center;
}

/* DESKTOP ONLY */
@media only screen and (min-width: 820px) {
  #about-ctn {
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* padding-left: 10rem; */
  }
  #content-ctn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-top: 0;
    order: 2;
    width: 50% !important;
  }
  #model-ctn {
    margin-top: 0;
    order: 1;
    width: 30% !important;
  }
  #model-ctn img {
    margin-top: 1px;
    cursor: pointer;
  }
  #model-ctn img:hover{
    -webkit-filter: drop-shadow(-11px -3px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(-11px -3px 4px rgba(0, 0, 0, 0.5));
    transition: 0.5s;
  }
  #model-ctn #vtuber-info-grid {
    font-size: var(--fs1);
  }
  #followers-ctn {
    width: 50%;
  }

  #vtuber-info{
    cursor: pointer;
  }
  #vtuber-info-grid #modelfrontback {
    margin: 1rem;
    max-height: 60%;
  }

}
